$light-pink: #fff2fb; 
$light-yellow: #fcfbd1;
$overlay: rgba(255,242,251, 0.95); 
$light-blue: #c1e4ff;

html, 
body {
	font-family: 'Indie Flower';
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: $light-pink; 
}

.heading {
	display: flex; 
	align-items: flex-start;
	flex-wrap: nowrap;
	width: 100%;
	background-image: url('../../images/home/bg.png');
	transition: transform 0.5s ease;  
	.logo {
		flex: 2; 
	}
	.menu-icon {
		cursor: pointer;
		margin-right: 10px;
		height: 48px; 
		width: 48px;
		font-size: 48px;
		color: $light-blue;
	}
}

nav.menu {
	width: 100%;
	height: 100%;
	font-size: 33px;
	text-align: right;
	color: $light-blue;
	background-color: $overlay; 
	position: absolute; 
	transform: translate(0, -1000px); 
	transition: transform 0.5s ease; 
	.fa-close {
		cursor: pointer;
		font-size: 48px;
	}
	p {
		text-align: center; 
		padding-bottom: 12px;
	}
}

#current-link {
	background-color: white; 
	border: 1px solid rgba(0,0,0,0.55); 
	border-radius: 20px; 
	margin: 0;
	padding: 6px;
	a {
		color: black;
		text-decoration: none; 
	}
}

a {
	text-decoration: none;
	color: black;
	transition: 0.5s
}

.links-1:hover {
	background-color: $light-yellow; 
	color: $light-blue;
	border: 1px solid rgba(0,0,0,0.55); 
	border-radius: 20px; 
	margin: 0;
	padding: 36px;
}

nav.open {
	transform: translate(0, -100px); 
}

.close {
	transform: translate(0, -333px); 
}

.cake-pics {
	display: flex; 
	flex-wrap: wrap;
	div {
		margin: 24px auto 24px auto; 
		transition: background-image 1s ease; 
		background-size: cover;
		background-position: center; 
		width: 350px;
		height: 350px;
	}
}

#first-communion {
	background-image: url('../../images/cakes/first-communion.jpeg');
}

#new-york {
	background-image: url('../../images/cakes/new-york.jpeg');
}

#surf-shack {
	background-image: url('../../images/cakes/surf-shack.jpeg');
	&:hover {
		background-image: url('../../images/cakes/surf-shack-hover.jpeg');
	}
}

#tangled {
	background-image: url('../../images/cakes/tangled-tower.jpeg');
}

#beer {
	background-image: url('../../images/cakes/beer.jpeg');
	&:hover {
		background-image: url('../../images/cakes/beer-hover.jpeg');
	}
}

#burgers {
	background-image: url('../../images/cakes/burgers.jpeg');
	&:hover {
		background-image: url('../../images/cakes/burgers-hover.jpeg'); 
	}
}

#strawberry {
	background-image: url('../../images/cakes/strawberry.jpeg'); 
}

#puppy {
	background-image: url('../../images/cakes/pink-puppy.jpeg');
}

#arabian-nights {
	background-image: url('../../images/cakes/arabian-nights.jpeg');
}

#cigar {
	background-image: url('../../images/cakes/cigar.jpeg');
	&:hover {
		background-image: url('../../images/cakes/cigar-hover.jpeg');
	}
}

#car {
	background-image: url('../../images/cakes/car.jpeg'); 
}

@media screen and (min-width: 600px) {
	nav.menu {
		position: initial;
		height: initial;
		width: 100%;
		text-align: center;
		transform: translate(0, 0);
		font-size: initial;
		background-color: $light-blue;
		.fa-close {
			display: none;
		}
		p {
			display: inline;
			padding-left: 12px;
			padding-right: 12px;
		}
	}

	#current-link {
		border: initial;
		background-color: initial;
		border-radius: 0;
		padding: initial;
	}

	.menu-icon {
		display: none;
	}
	
	.links-1:hover {
		padding: 12px;
	}

	.heading {
		justify-content: center;
		.logo {
			flex: initial;
			width: 330px;
			height: 75px;
		}
	}
}

@media screen and (min-width: 900px) {
	.heading {
		height: 150px;
		align-items: center;
		.logo {
			height: 150px;
			width: 730px;
		}
	}
	
	.menu {
		div.nav-bar {
			p {
				font-size: 33px;
			}
		}
	}
}
