$light-pink: #fff2fb; 
$light-yellow: #fcfbd1;
$overlay: rgba(255,242,251, 0.95); 
$light-blue: #c1e4ff;

html, 
body {
	font-family: 'Indie Flower';
	margin: 0;
	height: 100%;
	width: 100%;
}

.heading {
	display: flex; 
	align-items: flex-start;
	flex-wrap: nowrap;
	width: 100%;
	background-image: url('../../images/home/bg.png');
	transition: transform 0.5s ease;  
	.logo {
		flex: 2; 
	}
	.menu-icon {
		cursor: pointer;
		margin-right: 10px;
		height: 48px; 
		width: 48px;
		font-size: 48px;
		color: $light-blue;
	}
}

nav.menu {
	width: 100%;
	height: 100%;
	font-size: 33px;
	text-align: right;
	color: $light-blue;
	background-color: $overlay; 
	position: absolute; 
	transform: translate(0, -1000px); 
	transition: transform 0.5s ease; 
	.fa-close {
		cursor: pointer;
		font-size: 48px;
	}
	p {
		text-align: center; 
		padding-bottom: 12px;
	}
}

#current-link {
	background-color: white; 
	border: 1px solid rgba(0,0,0,0.55); 
	border-radius: 20px; 
	margin: 0;
	padding: 36px;
	a {
		color: black;
		text-decoration: none; 
	}
}

a {
	text-decoration: none;
	color: black;
	transition: 0.5s
}

.links-1:hover {
	background-color: $light-yellow; 
	color: $light-blue;
	border: 1px solid rgba(0,0,0,0.55); 
	border-radius: 20px; 
	margin: 0;
	padding: 36px;
}

nav.open {
	transform: translate(0, -100px); 
}

.close {
	transform: translate(0, -333px); 
}

.cake-pics {
	display: flex; 
	flex-direction: column;
	img {
		border: solid 28px $light-yellow;
	}
}

.nav-bar-2 {
	display: none; 
}

.about-me {
	display: flex;
	flex-direction: column;
	img {
		order: 2;
		border: solid 38px $light-yellow;
	}
	div.paragraph {
		order: 1;
		background-color: $light-pink;
		margin: 0;
		padding: 12px 24px 12px 24px; 
		p {
			border: 0;
			border-radius: 20px;
			padding: 1em;
			background-color: $light-blue;
		}
	}
}

.slide-show {
	display: none;
}

@media screen and (min-width: 500px) {
	nav.menu {
		position: initial;
		height: initial;
		width: 100%;
		text-align: center;
		transform: translate(0, 0); 
		font-size: initial;
		.fa-close {
			display: none;
		}
		p {
			display: inline;
			padding-left: 12px;
			padding-right: 12px;
		}
	}

	#current-link {
		border: initial;
		background-color: initial;
		border-radius: 0;
		padding: initial;
	}

	.menu-icon {
		display: none; 
	}

	.links-1:hover {
		padding: 12px;
	}

	.cake-pics {
		flex-direction: row; 
		img {
			border: 0;
			width: 33.333%;
			height: 250px;
		}
	}

	.slide-show {
		display: initial;
	}
}

@media screen and (min-width: 750px) {
	.nav-bar-2 {
		display: flex; 
		div {
			text-align: center;
			width: 25%;
			height: 150px;
			font-size: 36px;
			padding: 12px;
			transition: 0.5s;
			span {
				display: block;
			}
		}
		div:hover {
			width: 40%;
		}
	}
	
	#theme-box {
		a {
			color: $light-yellow; 
		}
		background-color: $light-blue; 
		color: $light-yellow;
	}

	#flavor-box {
		background-color: $light-pink; 
	}

	#quote-box {
		a {
			color: $light-blue;
		}
		background-color: $light-yellow; 
		color: $light-blue
	}

	#order-box {
		a {
			color: pink; 
		}
		color: pink;
	}

	.about-me {
		flex-direction: row;
		div.paragraph {
			display: flex; 
			align-items: center;
			flex: 1;
			background-color: $light-yellow; 
			p {
				text-align: center; 
				border-radius: 0;
				font-size: 24px;
			}
		}
		img {
			flex: 1;
			border-color: $light-pink;
		}
	}

	.cake-pics {
		img {
			height: 335px;
		}
	}

	.heading {
		justify-content: center; 
		.logo {
			flex: initial;
			width: 330px;
			height: 75px;
		}
	}
}

@media screen and (min-width: 1000px) {
	.heading {
		height: 150px;
		align-items: center;
		.logo {
			height: 150px;
			width: 730px;
		}
	}

	.cake-pics {
		img {
			height: 450px;
		}
	}

	.about-me {
		img {
			height: 750px;
		}
		div.paragraph {
			p {
				font-size: 30px;
			}
		}
	}

	nav.menu {
		font-size: 33px;
	}
}

@media screen and (min-width: 1300px) {
	.nav-bar-2 {
		div {
			padding: 40px;
			font-size: 40px;
		}
	}

	.about-me {
		img {
			height: 1000px;
		}
		div.paragraph {
			p {
				font-size: 45px;
			}
		}
	}
}

@media screen and (min-width: 1500px) {
	.nav-bar-2 {
		div {
			border: solid 5px white;
			font-size: 50px;
			height: 250px;
		}
	}
	.about-me {
		div.paragraph {
			flex: 2;
		}
		img {
			height: 750px;
		}
	}

	.cake-pics {
		img {
			height: 650px;
		}
	}
}
